# Get a free developer client ID at https://devportal.jamendo.com/
JAMENDO_CLIENT_ID=

# Create a Web API app at https://developer.spotify.com/dashboard
# Add http://127.0.0.1:3000/api/spotify/callback as a redirect URI.
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

